*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Merriweather Sans', sans-serif;
}

.logo{
    font-size: 28px;
    font-family: cursive;
    color:cornsilk;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 15px;
    width:fit-content;
    cursor: pointer;
}
.nav-bar {
    background-color: rgb(58, 51, 51);
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    transition: all .3s ease-in-out;
    transform: scaleY(1);
    top: 0px;
    transition: all ease-in-out 250ms;
}
.nav-btn{
    width: 30%;
    height: 100%;
}
.nav-btn ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.nav-btn li{
    font-size: large;
    list-style: none;
   
}
.nav-bar {
    background-color: rgb(58, 51, 51);
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    transition: all .3s ease-in-out;
    transform: scaleY(1);
    top: 0px;
    transition: all ease-in-out 250ms;
}
.nav-btn{
    width: 30%;
    height: 100%;
}
.nav-btn ul{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.nav-btn li{
    font-size: large;
    list-style: none;
   
}
li a {
    text-decoration:none;
    color:white;
    padding-right:3em;
    position:relative;
}
li a::after{
    content:'';
    position:absolute;
    display:block;
    height:0.1em;
    width:0%;
    background-color:var(--green);
    
    transition:all ease-in-out 250ms;
    
}
li a:hover::after{
    width:60%;
}
li a:hover{
    color:chartreuse;
}
.nav-btn li::before{
    left: 0;
    margin:0 auto;
    right:0;
    width: 0%;
    transition: .3s;
}
.nav-btn li a{
    text-decoration: none;
    color:antiquewhite;
}

.team {
    min-width: 100%;
    min-height: 600px;
    margin-top: 25px;
    padding-top: 40px;
}

    .team .wrap {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 2%;
    }

    .team .head {
        font-size: 50px;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        display: flex;
    }

.member {
    width: 20%;
    height: 400px;
    /* margin-bottom: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid;
    border-radius: 15px;
    transition: 1s;
    position: relative;
    background: rgb(73, 73, 73);
    font-family: 'Newsreader', serif;
}

    .member:hover {
        transform: scale(1.05);
    }

.cnt {
    font-size: 150px;
    font-weight: 600;
    color: gainsboro;
    position: absolute;
    top: -10px;
    right: 0px;
    z-index: -1;
}

.name {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.about {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.member img {
    height: 150px;
    border-radius: 50%;
}

.team .wrap .member:nth-child(2) img {
    width: 150px;
}

.links i {
    font-size: x-large;
    color: black;
    margin: 30px 10px;
}
.links img{
    border-radius: 0%;
    width: 35px;
    height: 35px;
}
